<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1><%= 'The Home Page'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloribus
      architecto natus voluptate ipsam debitis minus quibusdam provident vitae,
      veniam, quis qui, delectus et perferendis perspiciatis! Cumque obcaecati
      odit laudantium temporibus omnis exercitationem modi natus laboriosam nisi
      deleniti ipsam beatae expedita totam, placeat fuga assumenda dolor
      nesciunt doloremque accusamus hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, incidunt!</p>
  </body>
</html>
