<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Naruto</title>
  </head>
  <body>
    <h1>Team 7 characters</h1>
    <ul>
      <% for(let ch of narutosCharacters) { %>
      <li><%= ch %></li>
      <% } %>
    </ul>
  </body>
</html>
